[Unit]
Description=Gunicorn instance to serve GitPi
After=network.target

[Service]
User=youruser
Group=yourgroup
WorkingDirectory=/path/to/GitPi/app
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/path/to/GitPi/venv/bin"
ExecStart=/path/to/GitPi/venv/bin/gunicorn

[Install]
WantedBy=multi-user.target
