<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="login-div">
    <img src="{{url_for('static', filename='gitpi_logo.png')}}" class="logo">
    <h2 class="login-text">Enter password to continue</h2>
    <form method="POST">
    <input type="password" name="password" placeholder="Password" class="label">
    <input type="submit" value="Log in" class="button">
	<h5 class="desc">{{error}}</h5>
    </div>
  </body>
</html>
