<!DOCTYPE html>
<html>
	<head>
		<title>{{name}} - GitPi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<div class="repo-div">
			<h3 class="name" style="display: inline"><a href="/#{{name}}" class="name">&#129136; {{name}}</a></h3>
			<h3 class="desc">{{desc}}</h3>
			<hr>
			<h3 class="path">Path: {{path}}<a href="#" onclick="copy('{{path}}')" class="more-link-2"> &#x2398;</a></h3>
			<br>
			<form method="POST" action="{{url_for("repo", id=name, selected_branch=current_branch)}}">
				<select name="branch_select">
					{% for branch in branches %}
						{% if branch == current_branch %}
							<option value={{branch}} selected={{branch}}>&#x2387; {{branch}}</option>
						{% else %}
							<option value={{branch}}>&#x2387; {{branch}}</option>
						{% endif %}
					{% endfor %}
				</select>
				<input type="submit" value="Change branch" class="branch-button">
			</form>
			<h3 class="repo-h3">Files</h3>
			<div class="files">
				{% if files is string %}
					<pre>{{files}}</pre>
				{% else %}	
					{% for file in files %}
						{% if file[-1]=="/" or "➔" in file %}
							<pre>{{file}}</pre>
						{% else %}
							<a href="{{url_for("file_viewer", repo=name, file=file | remove_tree, branch=current_branch)}}"><pre>{{file}}</pre></a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			<h3 class="repo-h3">Commit history</h3>
			<div class="files">
				<pre>{{commits}}</pre>
			</div>
		</div>
	</body>
</html>
